.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

@media only screen and (max-width: 767px) {
  .filters {
    flex-direction: column;
  }
}
