@import url("components/SearchBar/search-bar.css");
@import url("components/Filters/filters.css");
@import url("components/PropertyList/property-list.css");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
}
